---
import Footer from "@/components/footer.astro";
import Hero from "@/components/hero.astro";
import Leaderboard from "@/components/leaderboard.astro";
import Sponsors from "@/components/sponsors.astro";
import VideoList from "@/components/video-list.astro";
import RootLayout from "@/layouts/root.astro";
import Header from "@components/header.astro";
---

<RootLayout>
  <Header />
  <main>
    <Hero />
    <section class="mx-auto px-4 max-w-8xl my-8">
      <Leaderboard />
    </section>
    <VideoList />
    <Sponsors />
  </main>
  <Footer />
</RootLayout>
